<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seemmo.airecheck.recheckSearch.mapper.TrafficWfRecordSearchMapper">
    <!--
    复核查询
    -->
    <select id="recheckSearch"
            parameterType="com.seemmo.airecheck.recheckSearch.model.dto.RecheckSearchDto"
            resultType="com.seemmo.airecheck.recheckSearch.model.RecheckSearchData">
        SELECT
        create_time AS createTime,
        id,
        record_id AS recordId,
        car_plate_type AS carPlateType,
        car_plate_number AS carPlateNumber,
        illegal_code AS illegalCode,
        img_url AS imgUrl,
        img_path AS imgPath,
        manual_recheck_status AS manualReCheckStatus,
        entry_person AS entryPerson,
        report_status AS reportStatus,
        report_time AS reportTime,
        sdk_recog_time AS sdkRecogTime,
        sdk_recog_status AS sdkRecogStatus,
        sdk_recog_data AS sdkRecogData,
        sdk_recheck_status AS sdkRecheckStatus,
        sdk_car_plate_number AS sdkCarPlateNumber,
        sdk_car_plate_type AS sdkCarPlateType,
        sdk_plate_rect AS sdkPlateRect
        FROM tb_traffic_wf_record
        WHERE create_time BETWEEN #{entryStartTime} AND #{entryEndTime}
        <if test="recogStartTime > 153002100L and recogEndTime > 153002100L">
            AND sdk_recog_time BETWEEN #{recogStartTime} AND #{recogEndTime}
        </if>
        <if test="recheckStatusList != null and recheckStatusList.size() > 0">
            AND sdk_recheck_status IN
            <foreach item="item" index="index" collection="recheckStatusList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="manualRecheckStatus != null">
            AND manual_recheck_status = #{manualRecheckStatus}
        </if>
    </select>

</mapper>


